html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat';
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.background-cover {
  background: url(../img/header_img_mobile.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu-mobile {
  fill: #212121;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.menu-mobile:hover {
  fill: #2196F3;
}

.nav-main {
  display: none;
}

.header-contacts-container {
  display: none;
}

.main-purposes {
  margin: 0 auto;
}

.main-purposes__header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 2.6rem;
  line-height: 4.2rem;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.button-container {
  text-align: center;
}

.main-btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: #2196F3;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.main-btn__purposes {
  margin-top: 30px;
}

.modal-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.modal-form:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-form-dialog {
  position: relative;
  width: auto;
  margin-top: 94px;
  margin-bottom: 94px;
}

.modal-form-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 609px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-clip: padding-box;
  border-radius: .3rem;
  outline: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form-header {
  position: relative;
}

.modal-form-header__title {
  margin: 40px 40px 20px 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.close-modal-form {
  position: absolute;
  top: 7%;
  right: 2%;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  font-family: Roboto;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

.close-modal-form:hover, .close-modal-form:focus {
  color: #2196F3;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

.modal-contact-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.personal-data__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 4px;
}

.personal-data-item:hover .personal-data__name {
  color: #2196F3;
}

.personal-data-field {
  position: relative;
  width: 100%;
}

.personal-data-field__svg {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 12px;
  width: 14px;
  margin: 0;
  fill: #212121;
  z-index: 1;
}

.personal-data-item:hover .personal-data-field__svg {
  fill: #2196F3;
}

.personal-data-field__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 40px;
}

.personal-data-item:hover .personal-data-field__input {
  border: 1px solid #2196F3;
  cursor: pointer;
}

.personal-data-field__textarea {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.personal-data-item:hover .personal-data-field__textarea {
  border: 1px solid #2196F3;
  cursor: pointer;
}

.personal-data-checkbox {
  display: block;
  margin-top: 20px;
}

.personal-data-checkbox__input {
  width: 14px;
  margin-right: 8px;
  vertical-align: middle;
}

.label-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #757575;
  vertical-align: middle;
}

.personal-data-checkbox__link {
  color: #2196F3;
}

.main-btn__form {
  margin-top: 32px;
}

.services-list {
  list-style: none;
  padding: 0;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
}

.service-card {
  margin-top: 30px;
}

.service-card:nth-child(1) {
  margin-top: 60px;
}

.service-card__icon {
  background: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-card__svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.service-card__name {
  margin: 0;
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.service-card__objectives {
  margin: 0;
  margin-top: 10px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.team-list {
  padding-top: 60px;
  padding-bottom: 30px;
  background: #F5F4FA;
}

.our-team-header {
  margin: 0;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.3rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-card {
  padding-bottom: 24px;
  margin-bottom: 30px;
  background: #FFFFFF;
  /* material shadow v1 */
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__image img {
  margin: 0 auto;
}

.team-card__member-name {
  margin: 0;
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-card__member-occupation {
  margin: 0;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-card-social {
  margin: 0 auto;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-card-social__icon {
  height: 44px;
  width: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color, border-radius 0.3s;
  transition: background-color, border-radius 0.3s;
}

.team-card-social__icon:hover {
  background-color: #2196F3;
  border-radius: 50%;
}

.team-card-social__icon-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-card-social__icon:hover .team-card-social__icon-svg {
  fill: white;
}

.our-clients-wrapper {
  padding-top: 60px;
}

.our-clients-header {
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.3rem;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-clients__logo {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 46.6%;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-clients__logo-svg {
  fill: #afb1b8;
  width: 100%;
  height: 50px;
}

.footer-main {
  background: #2F303A;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-contacts__logo {
  margin: 0 auto;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.footer-contacts__logo--colored {
  color: #FFFFFF;
}

.footer-contacts__address {
  margin: 0 auto;
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-contacts__email, .footer-contacts__tel {
  margin: 0 auto;
  margin-top: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-social__title {
  margin: 0 auto;
  margin-top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.footer-contacts-social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-contacts-social__icon:last-child {
  margin-right: 0;
}

.footer-contacts-social__icon-svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-send-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-send-email__title {
  margin: 0 auto;
  margin-top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-send-email__email {
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-btn-container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.footer-btn__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #FFFFFF;
}

@media (min-width: 480px) and (max-width: 659px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
  .our-clients__logo:nth-child(odd) {
    margin-right: 30px;
  }
}

@media (min-width: 660px) {
  .container {
    margin: 0 auto;
    width: 660px;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 10px;
  }
}
/*# sourceMappingURL=main.css.map */