html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat';
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    padding: 10px;
    margin: 0 auto;
}

.background-cover {
    background: url(../img/header_img_mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;
}


.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}
.site-logo__svg {
    width: 134px;
    height: 28px;
}
.menu-mobile {
    fill:#212121;
    transition: fill 0.5s;
    &:hover {
        fill: #2196F3;
        cursor: pointer;
    }
}
.nav-main {
   display: none;
}
.header-contacts-container {
    display: none;
}


.main-purposes {
    margin: 0 auto;
    &__header {
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 2.6rem;
        line-height: 4.2rem;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase; 
        color: #FFFFFF;
        margin: 0;
    }
}
.button-container {
    text-align: center;
}
.main-btn {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #2196F3;
    border: none;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    transition: border 0.7s;
        &:hover {
            border: 2px solid #FFFFFF;
        }
        &__purposes {
            margin-top: 30px;
        }
    
}
.modal-form {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); 
    opacity: 0;
    z-index: 99;
    overflow: hidden;
    transition: opacity 200ms ease-in; 
    pointer-events: none;
    margin: 0;
    padding: 0;

        &:target {
            opacity: 1; 
            pointer-events: auto; 
        }

}
.modal-form-dialog {
    position: relative;
    width: auto;
    margin-top: 94px;
    margin-bottom: 94px;
    
}
.modal-form-content  {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 609px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-clip: padding-box;
    border-radius: .3rem;
    outline: 0;
    align-items: center;
}
.modal-form-header {
    position: relative;
}
.modal-form-header__title {
    margin: 40px 40px 20px 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.close-modal-form {
    position: absolute;
    top: 7%;
    right: 2%;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    font-family: Roboto;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
        &:hover, &:focus {
            color: #2196F3;
            text-decoration: none;
            cursor: pointer;
            opacity: .75;
        }
}

.modal-contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personal-data {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.personal-data__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 4px;

    .personal-data-item:hover & {
        color: #2196F3;
    }
}
.personal-data-field{
    position: relative;
    width: 100%;
   
}
.personal-data-field__svg {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    height: 12px;
    width: 14px;
    margin: 0;
    fill: #212121; 
    z-index: 1;
    .personal-data-item:hover & {
        fill: #2196F3;
    }


}
.personal-data-field__input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    padding-left: 40px;
    .personal-data-item:hover & {
        border: 1px solid #2196F3;
        cursor: pointer;
    }

}
.personal-data-field__textarea {
    width: 100%;
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    .personal-data-item:hover & {
        border: 1px solid #2196F3;
        cursor: pointer;
    }

}
.personal-data-checkbox {
    display: block; 
    margin-top: 20px;
}

.personal-data-checkbox__input {
    width: 14px;
    margin-right: 8px;
    vertical-align: middle;
}
.label-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: #757575; 
    vertical-align: middle;
}
.personal-data-checkbox__link {
    color: #2196F3;
}
.main-btn__form {
    margin-top: 32px;

}
.services-list {
    list-style: none;
    padding: 0;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
}
.service-card {
    margin-top: 30px;
    &:first-child {
        margin-top: 60px;
    }

    &-icon {
        background: #F5F4FA;
        border-radius: 4px;
        height: 120px;
        display: flex;
        justify-content: center;

    }
        


    &__svg {
        align-self: center;
        width: 70px;    
    }
    
    &__name {
        margin: 0;
        margin-top: 30px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.6rem;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;

    }

    &__objectives {
        margin: 0;
        margin-top: 10px;
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 2.4rem;
        /* or 171% */
        letter-spacing: 0.03em;
        color: #757575;

    }

}
.our-mission {
    display: none;
}
.team-list {
    padding-top: 60px;
    padding-bottom: 30px;
    background: #F5F4FA;
}
.our-team-header {
    margin: 0;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.3rem;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-card {
    padding-bottom: 24px;
    margin-bottom: 30px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &__image img{
        margin: 0 auto;

    }
    
    &__member-name {
        margin: 0;
        margin-top: 30px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500; 
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }

    &__member-occupation {
        margin: 0;
        margin-top: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
    }
}
.team-card-social {
    margin: 0 auto;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    
    &__icon {
        height: 44px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px #FFFFFF transparent;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.3s;

        &:hover {
            background-color: #2196F3;
            
        }
    }
    &__icon-svg {
        width: 20px;
        height: 20px;
        fill: #afb1b8;

        .team-card-social__icon:hover &{
            fill: white;
        }
    }
}


.our-clients-wrapper {
    padding-top: 60px;
}
.our-clients-header {
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.3rem;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.our-clients {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; 
}
.our-clients__logo {
    margin: 0;  
    margin-bottom: 30px;
    width: 46.6%;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.6s;
        &:hover {
            border: 1px solid #2196F3;
        }

    
}
.our-clients__logo-svg {
    fill: #afb1b8;
    width: 100%;
    height: 50px;
    transition: fill 0.6s;
    .our-clients__logo:hover & {
        fill: #2196F3;
    }

}

.footer-main {
    background: #2F303A;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-contacts__logo {
    margin: 0 auto;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2196F3; 
    &--colored {
        color: #FFFFFF;
    }
}
.footer-contacts__address {
    margin: 0 auto;
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-contacts__email, .footer-contacts__tel {
    margin: 0 auto;
    margin-top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-social__title {
    margin: 0 auto;
    margin-top: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer-contacts-social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.footer-contacts-social__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    transition: background-color 0.5s;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        background-color: #2196F3;
    }
}
    
.footer-contacts-social__icon-svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}
.footer-send-email-form {
    margin: 0 auto;
}
.footer-send-email {
    display: flex;
    flex-direction: column;
}
.footer-send-email__title {
    margin: 0 auto;
    margin-top: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer-send-email-form {
    width: 100%;
}
.footer-send-email__email {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    padding-left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    background:  #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    border-radius: 4px;
        &:hover {
        
        }
}
.footer-btn-container {
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    
}
.main-btn__footer {
    text-align: left;
    padding-left: 29px;
    display: block;
    margin: 0 auto;
    position: relative;

}
.footer-btn__icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 14%;
    z-index: 1;
    transform: translateY(-50%);
    fill:  #FFFFFF;
}





@import "./components/media.scss";
